
<div class="index">
	<div class="index-container">
		<div class="index-box">
			<h1 class="index-title">Favorited Links</h1>
			<h2 class="index-subtitle">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua
			</h2>
		</div>
		<div class="index-form">
			<form class="form-content" action="/login" method="POST">
				<div class="form-box">
					<input type="email" class="form-input" name="email" placeholder="E-mail">
				</div>
				<div class="form-box">
					<input type="password" class="form-input" name="password" placeholder="Password">
				</div>
				<div class="form-box">
					<button class="form-btn">
						Login
					</button>
				</div>
			</form>
			<div class="link-container">
				<a href="signup" class="link-button">Create A Account</a>
			</div>
		</div>
	</div>
</div>
