
<div class="profile">
	<div class="profile-container">
		<h2 class="profile-name">Welcome {{user.name}} {{user.lastname}}</h2>
		<h4 class="profile-email">{{user.email}}</h4>
		<a class="profile-btn" href="/links">Save yours links</a>
	</div>
</div>
