
* {
	font-family: 'Tai Heritage Pro', Helvetica, sans-serif;
}

textarea {
	resize: none;
}

a {
	color: rgb(0, 0, 0);
	text-decoration: none;
}

/* NAV */

.nav {
	width: 100%;
	background: rgb(170, 233, 197);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 90%;
	margin: auto;
}

.nav-title {
	margin: 8px 0;
	font-size: 28px;
}

.nav-form {
	display: flex;
	align-items: center;
	gap: 8px;
}

.box-form {
	display: flex;
	gap: 8px;
}

.nav-input {
	height: 24px;
	font-size: 16px;
	border: none;
	border-radius: 1px;
	padding: 2px 2px;
	outline: 1px solid rgb(215, 215, 215);
}

.nav-input:focus {
	outline: 1px solid rgb(56, 156, 255);
}

.nav-button {
	border: none;
	height: 24px;
	font-size: 16px;
	padding: 0 12px;
	border-radius: 12px;
}

.session {
	background: rgb(33, 199, 48);
}

.registered {
	background: rgb(55, 105, 205);
}

/* FORM */

.container {
	display: flex;
	width: 100vw;
	height: 100vh;
}

.container-form {
	min-width: min-content;
	margin: auto;
	margin-top: 10%;
	padding: 20px;
	border: 1px solid rgb(191, 191, 191);
	border-radius: 2%;
}

.form-box {
	min-width: 300px;
}

.form-input {
	width: 100%;
	margin-bottom: 10px;
	padding: 2px 0 2px 5px;
	outline: 2px solid rgb(215, 215, 215);
	border: none;
	border-radius: 3px;
}

.form-input:focus {
	outline: 2px solid rgb(56, 156, 255);
}

.button {
	background: rgb(103, 187, 188);
	border: none;
	width: 100%;
	padding: 10px 0;
	border-radius: 3px;
	margin-bottom: 20px;
}

.button:hover {
	background: rgb(113, 197, 198);
}

/* LIST */

.box-links {
	display: grid;
	grid-template-columns: repeat(3, 200px);
	grid-auto-rows: 1fr;
	width: 70%;
	min-width: 600px;
	max-width: 800px;
	margin: auto;
	outline: 3px solid rgb(0, 0, 0);
	gap: 5px;
	padding: 10px;
	justify-content: center;
}

.links {
	display: grid;
	grid-auto-rows: 1fr;
	outline: 1px solid rgb(207, 207, 207);
	padding: 5px;
	height: auto;
}

.box-buttons {
	display: flex;
	gap: 10px;
	justify-content: center;
	padding: 5px;
}

.btn-delete {
	padding: 5px 30px;
	background: rgb(220, 55, 55);
	border: none;
	outline: 1px solid rgb(191, 0, 0);
}

.btn-delete:hover {
	background: rgb(210, 45, 45);
}

.btn-edit {
	padding: 5px 10px;
	background: rgb(210, 210, 210);
	border: none;
	outline: 1px solid rgb(191, 191, 191);
}

.btn-edit:hover {
	background: rgb(200, 200, 200);
}

/* Message */

.message-container {}

.message {
	display: flex;
	justify-content: space-between;
	width: 70%;
	min-width: 600px;
	max-width: 800px;
	padding: 10px 20px;
	margin: 20px auto;
	border: 1px solid rgb(100,181,100);
	border-radius: 6px;
}

.message-text {
	color: rgb(100,181,100);
	font-size: 32px;
}
