{{#if message}}
<div class="message-container">
	<div class="message">
		<p class="message-text">{{message}}</p>
		<button type="button" class="close">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</div>
</div>
{{/if}}

{{#if success}}
<div class="message-container">
	<div class="success">
		<p class="success-text">{{success}}</p>
		<button type="button" class="close">
			<i class="fa-solid fa-xmark"></i>
		</button>
	</div>
</div>
{{/if}}