
{{#if user}}
<nav class="nav">
	<div class="nav-container">
		<div class="nav-title">
			Favorite Links
		</div>
		<div class="nav-form">
			<div><a href="/profile">My Profile</a></div>
			<span> | </span>
			<div><a href="/links">My Links</a></div>
			<span> | </span>
			<div><a href="/links/add">Add a Link</a></div>
			<span> | </span>
			<div><a href="/logout">Logout</a></div>
		</div>
	</div>
</nav>
{{/if}}
