
<div class="container">
	<div class="container-all">
		<div class="form-title">
			<h3>Login</h3>
		</div>
		<div class="container-form no-principal">
			<form action="/login" method="POST">
				<div class="form-box">
					<input type="email" class="form-input" name="username" placeholder="User Name">
				</div>
				<div class="form-box">
					<input type="password" class="form-input" name="password" placeholder="Password">
				</div>
				<div class="form-box">
					<button class="button">
							Login
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
