
<div class="container">
	<div class="card">
		<div class="card-title">
			<h2>Dedicated Links</h2>
		</div>
		<div class="card-body">
			<div class="form-title">
					¡Create a Account!
				</div>
			<div class="form-body">
				<form class="form-content" action="/signup" method="POST">
					<div class="form-box">
						<div class="form-fullname">
							<input type="text" class="form-input" name="name" placeholder="Name">
							<input type="text" class="form-input" name="lastname" placeholder="Lastname">
						</div>
					</div>
					<div class="form-box">
						<input type="email" class="form-input" name="email" placeholder="E-mail">
					</div>
					<div class="form-box">
						<input type="password" class="form-input" name="password" placeholder="Password">
					</div>
					<div class="form-box">
						<button class="form-button">
								Sign Up
						</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
